button{
    background-color: aquamarine;
    color: blueviolet;
    border: aquamarine;
}

button:hover{
    background-color: yellow;
    color: steelblue;
}

h1{
    color: cornflowerblue;
}
h2{
    align-items: center;
}